<!--The content below is only a placeholder and can be replaced.-->

<br>
<div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
              <form #frmObj="ngForm" id="frm" (ngSubmit)="addTodo(frmObj)">
                <div class="form-group">
                    <label for="Todo Title">Todo Title</label>
                    <input type="text" name="todo" id="todo" class="form-control" ngModel>
                </div>
                <div class="form-group">
                  <button type="submit" name="todoSubmit" id="todoSubmit" class="btn btn-primary">Add</button>
                </div>
              </form>
          </div>
        </div>

        <hr>
        <table class="table table-bordered">
          <thead>
            <tr>
              <td>Select</td>
              <td>Todo Item</td>
              <td>Action</td>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let todo of todos; let i = index">
              <td>
                  <div class="form-check">
                    <input class="form-check-input position-static" type="checkbox" id="chk-{{todo.id}}" [ngModel]="isDone" (ngModelChange)="TodoDone($event, i)">
                  </div>
              </td>
              <td *ngIf="todo.isDone === true">
                <del>{{todo.title}}</del>
              </td>

              <td *ngIf="todo.isDone === false">
                  {{todo.title}}
              </td>

              <td>
                <a href="#" class="btn btn-light" (click)="deleteTodo(i)" ><span class="oi oi-trash"></span></a>
              </td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>
</div>